body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
}

.hidden{
    display: none;
}

/* Weather styles  */
.search-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 45px;
    background: #d1cfcb;
    color: #141413;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.fas{
    color: #141413;
}

#searchForm {
    text-align: center;
    display: flex;
    margin: 0 0 0 10px;
    padding: 4px;
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

#searchForm input, #searchForm label, #searchForm a{
    display: inline-block;
    padding: 4px;
    margin: 4px;
}

.weather-details{
    display: flex;
    position: relative;
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
    margin: 0 auto;
    padding: 8px;
    max-width: 750px;
    color: #141413;
    justify-content: center;
    align-items: center;
}

.weather-details>div{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

div.weather-details span{
    color: #031a81;
}

.weather-banner{
    width: 100%;
    /* max-width: 830px; */
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(94, 116, 238));
    color: white;    
}

.weather-banner div{
    display: inline-block;
}

.weather-currently{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

div.weather-icon{
    display: flex;
    display: block;
    align-items: center;
    justify-content: center;
}
.weather-icon img{
    padding: 4px;
    border: none;
    width: 80px;
    height: 80px;
}

.weather-description{
    font-weight: 600;
    text-align: center;
}

div.we-desc-summary{
    display: block;
}

.feels-like{
    display: inline;
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans Condensed', sans-serif;
}

#weather-summary{
    position: relative;
    margin: 0;
    padding: 8px;
    display: block;
    font-size: 20px;
    font-weight: 300;
    background: #e3e1dc;
    color: #141413;
}


/* Park styles */
.park-container {
    box-shadow: 0 0 30px rgba(72, 94, 115, 0.7);
    padding: 16px;
    width: 100%;
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    background: rgb(241, 244, 245);
    font-family: sans-serif;
    color: black;
}

h1.results{
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

span#user-location-city{
    margin-left: 6px;
}

.parks{
    width: 100%;
	overflow: hidden;
	/* background: skyblue; */
	margin: 0 auto;
	padding: 0;
}

.parks ul{
	padding: 0px;
	margin: 0px;
    width: 100%;
}

div.imgWrapper{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.parks ul li .projectImage {
    width: 70%;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 0;
	padding-bottom: 0px;
	margin: 0;
}

.parks ul li{
	box-shadow: 0 0 30px rgba(72, 94, 115, 0.7);
	list-style: none;
	float: left;
    width: 100%;
    /* border: 1px solid black; */
    /* background: #d1cfcb; */
	background: #F6ECE7;
	margin: 20px 20px 0px 0px;
	box-sizing: border-box;
}

.parks ul li:hover{
	opacity: 0.9;
}

.parks ul li .title{
	width: 100%;
	height: 50px;
    line-height: 25px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	/* border: 1px solid black; */
	background-color: white;
}

.parks ul li .title:hover{
	background: #c9e6ff;
	color: white;
}

div.park-links{
	display: inline-block;
	padding: 8px;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    display: flex;
}


.parks ul li .description{
	width: 95%;
	/* height: 2px; */
	line-height: 20px;
    margin: 0px;
	/* font-family: 'Roboto', sans-serif; */
    font-family: 'Nunito', sans-serif;
    font-size: 300;
	padding: 8px;
	/*background-color: white;*/
    text-align: center;
    justify-content: center;
    align-self: center;
	/* display: none; */
}

div.paraWrapper{
	height: auto;
}

div.park-links .parkButton{
	display: flex;
    background: #c9e6ff;
    color: #141413;
    /* width: 100%; */
    /* text-align: center; */
	border: none;
  	padding: 4px 4px;
  	margin-top: 16px;
  	display: inline-block;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.parkButton:hover, a.parkButton:focus{
	background: #92bde7;
	color: #f9feff;
	outline: 0;
    transition: background-color 2s ease-out;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Media queries  */
@media screen and (min-width: 640px){
    .search-container{
        font-size: 1.2rem;
    }

    a.userCurrentLocation, #search-form label, #user-city, #user-state,a.searchButton{
        padding: 8px;
    }
    
    .weather-details{
        height: 2rem;
        width: 100%;
        font-size: 1.5rem;
    }
    
    div.weather-icon{
        display: flex;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .weather-icon img{
        padding: 4px;
        border: none;
        width: 120px;
        height: 120px;
    }
    
    .weather-description{
        font-size: 2rem;
    }
    
    .feels-like{
        font-size: 1.5rem;
    }
    
    #weather-summary{
        font-size: 2rem;
    }
    
    
    /* Park styles */
    #park-container{
    width: 100%;
	overflow: hidden;
	margin: 2px 10px 0px 0px;
	padding: 20px 0px;
    }

    h1.results{
        font-size: 2rem;

    }
    
    .displayedResults{
    /* padding: 0px;
    margin: 2px 10px 0px 10px; */
    display: flex;
    flex-wrap: wrap;
    }

    .parks ul li{
        /* width: 40%;
		margin-top: 24px;
        margin-left: 30px; */
        /* background-color: red; */
        margin: 5px;
        width: 300px;
        padding: 16px;
        min-height: 150px;
    }
    
    .parks ul li .projectImage {
        width: 180px;
		height: 150px;
		padding-left: 8px;
		padding-right: 8px;
		margin: 0;
    }
    
    .parks ul li .title{
        width: 100%;
        padding: 0;
    }
    
    /* .parks ul li .title:hover{
        background: #c9e6ff;
        color: white;
    }
    
    div.park-links{
        display: inline-block;
        padding: 8px;
        width: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 1.5rem;
    }
     */
    
    .parks ul li .description{
        width: 95%;
        /* height: 30px; */
        line-height: 20px;
        margin: 0px;
        font-family: 'Nunito', sans-serif;
        font-size: 300;
        padding: 8px;
        /*background-color: white;*/
        text-align: center;
        justify-content: center;
        align-self: center;
        /* display: none; */
    }
    
    div.paraWrapper{
        height: auto;
    }
    
    div.park-links .parkButton{
        display: flex;
        background: #c9e6ff;
        color: #141413;
        /* width: 100%; */
        /* text-align: center; */
        border: none;
        padding: 4px 4px;
        margin-top: 16px;
        display: inline-block;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    a.parkButton:hover, a.parkButton:focus{
        background: #92bde7;
        color: #f9feff;
        outline: 0;
        transition: background-color 2s ease-out;
    }
}

/* Desktop Screens  */
@media screen and (min-width: 1024px){
    .parks ul li{
        width: 30%;
		margin-top: 24px;
        margin-left: 16px;
        /* margin: 0; */
        padding: 0;
    }
}